<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="UTF-8">
<head>
    <title>Spring Security</title>
</head>
<body>
<h1>Практическая задача 3.1.3 Java pre-project. <br>Задача 3.1.2. Spring Boot, Security.</h1>
<h2>Студент Колосов Артём</h2>
<h3>Перейдите на страницу <a th:href="@{/login}">авторизации</a> для запуска приложения.</h3>
<br/><br/>
<form th:method="POST" th:action="@{/logout}" sec:authorize="isAuthenticated()">
    <h4><span sec:authentication="name"></span>, вы уже авторизованы в приложении, можете
    <button type="submit">выйти</button> </h4>
</form>
</body>
</html>